.post_card {
  margin: 10px 0;
  padding: 20px 20px 0 20px;
}

/* ------------------------------ POST Header -------------------------- */
.post_card_header {
  display: flex;
  justify-content: space-between;
}
.header_info {
  display: flex;
  align-items: center;
}
.info_name {
  margin-left: 16px;
}
.info_name_user {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.info_name_user:hover {
  text-decoration: underline;
}
.info_name small {
  color: gray;
  font-size: 11px;
}
/* ---------------------------------------------------------------------- */

/* -------------------------------------POST CONTENT ------------------------ */

.content_handle {
  color: teal;
  font-size: 13px;
  cursor: pointer;
}
.content {
  margin: 8px 0;
  font-size: 14px;
}

/* ----------------------------------------------------------------------------- */

/* --------------------------------------POST FOOTER -------------------------- */
.post_footer {
  margin-top: 16px;
}
.post_footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post_footer_top_left {
  display: flex;
  align-items: center;
}
.post_footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.post_footer_bottom p {
  font-size: 14px;
}
.share_options {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 3px;
  width: 30%;
  justify-content: space-between;
  border-radius: 15px;
  margin: 5px 0;
  margin-left: -5px;
}
/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------COMMENT ------------------------------- */
.comment {
  margin-top: 16px;
  width: 100%;
  height: 45px;
}
.comment form {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 10px;
  margin: 0 -20px 0 -20px;
  height: 100%;
}
.comment input {
  border: none;
  outline: none;
  flex: 0.9;
}
.comment button {
  border: none;
  background-color: #fff;
  color: #0095f7;
  font-weight: 500;
  cursor: pointer;
  font-size: 13px;
}
/* -------------------------------------------------------------------------------------------- */

/* --------------------------------------------Display Comment----------------------------------- */
.display_comment {
  margin-top: 8px;
  border-top: 1px solid #ddd;
  padding-top: 8px;
}
.specific_comment {
  display: flex;
  margin-bottom: 8px;
}
.comment_avatar {
  margin-right: 8px;
}
.comment_avatar img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.comment_content_top {
  background-color: #f0f2f5;
  padding: 5px;
  padding-left: 10px;
  max-width: 95%;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}
.comment_content_top p:first-child {
  font-weight: 500;
  font-size: 14px;
}
.comment_content_top textarea {
  width: 400px;
  max-width: 95%;
  margin-top: 8px;
  padding: 5px;
  outline: none;
  height: 155px;
}
.comment_content_top p:last-child {
  font-size: 14px;
}
.comment_content_bottom {
  display: flex;
  align-items: center;
  color: #65676b;
}
.comment_content_bottom svg {
  font-size: 20px;
  margin-right: 8px;
}
.comment_content_bottom button {
  border: none;
  outline: none;
  background-color: #fff;
  margin-right: 8px;
  margin-top: -2px;
  font-size: 12px;
  font-weight: 500;
  color: #65676b;
}
.comment_content_bottom small {
  font-size: 12px;
}
.comment_options {
  opacity: 0;
}
.specific_comment:hover .comment_options {
  opacity: 1;
}
.count_reaction {
  position: absolute;
  right: 0;
  bottom: -5px;
  background: #fff;
  padding: 0 5px;
  border-radius: 9px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  align-items: center;
}
.count_reaction p {
  color: gray;
  padding-right: 8px;
}
/* ------------------------------------------------------------------------------------------ */

.btn_see_more_cmt {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 5px;
}
.btn_see_more_cmt:hover {
  text-decoration: underline;
}

.reply_comment {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 8px;
}
.reply_comment form {
  width: 71%;
  margin: 0 auto;
  border: 1px solid #ddd !important;
  border-radius: 10px;
}
